$BlackSqueeze: #eff7fa;
$BigStone: #1a2940;
$Loblolly: #b6c5cc;
$Riptide: #7fe0de;
$RadicalRed: #ff3150;
$Supernova: #ffc501;
$Turquoise: #33d1cc;
$White: #ffffff;
$BlueDianne: #1f4b5c;

$color_bg: $BlackSqueeze;
$color_h1: $BigStone;
$color_p: $Loblolly;
$colorp_b: $Riptide;
$colora: $RadicalRed;
$colorahov: $Supernova;
$colorport: $Turquoise;
$colorporth2: $White;
$colorportp: $BlueDianne;
